* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}



.left {
    width: 25vw;
}

.right {
    width: 75vw;
    position: relative;
    /*  background-color: #1e1e1e; */
}

.tools li {
    list-style: none;
    height: 1.5vw;
    gap: 12px;
}

.home {
    margin: 8px;
    padding: 7px 12px;
    font-weight: 700;
}

.head-library {
    height: 1.5vw;
    gap: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.library {
    padding: 7px 12px;
    min-height: calc(100vh - 21vh);
}

.songlist {
    height: 68vh;
    overflow: auto;
    margin-bottom: 10px;
}

.songlist ul li {
    list-style-type: decimal;
    margin: 12px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}

.library-play-now {
    font-size: 12px;
}

.footer {
    font-size: 14px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1vw;
}

.footer a {
    color: gray;
    text-decoration: none;
    margin: 0 6px;
}

.nav img {
    filter: invert(1);
    margin: 0.8vw;
}

.header {
    justify-content: space-between;
    background-color: #121212;
    align-items: center;
    position: sticky;
    margin: 1vw;
    margin-bottom: 1px;
}

.btn {
    margin: 0.8vw 2vw;
    color: white;
    background-color: #121212;
    border: none;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
}

.login:hover {
    background-color: rgba(116, 114, 114, 0.203);
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}

.signup:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: rgb(152, 149, 149);
}

.login {
    background-color: white;
    color: black;
    border-radius: 23px;
    padding: 1vw;
    width: 8vw;
    min-width: 4vw;
}

.spotify-playlist {
    margin-top: 10px;
    background-color: #42424279;
    height: calc(100vh - 13vh);
    margin: 1vw;
    margin-top: 1px;
    padding: 1vw;
    position: relative;
}

.spotify-playlist h2 {
    color: white;
    font-weight: 500;
    font-family: "Roboto";
}

.top {
    justify-content: space-between;
}

.top button {
    color: rgb(152, 148, 148);
    background-color: inherit;
    border: none;
    font-family: "Roboto";
}

/*  */
.spotify-cards {
    margin-top: 15px;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
    row-gap: 3rem;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(89, 87, 87, 0.452);
    border-radius: 100px;
}

.play-button {
    position: absolute;
    right: 6%;
    /* top: 54%;change top position in js to make it responsive by getting clientrectx and change top as difference of height */
    bottom: 25%;
    background-color: green;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.play-button img {
    height: 20px;
    width: 20px;

}

.move {
    position: absolute;
    left: 0;
}

.cards {
    width: 16vw;
    font-weight: 300;
    font-size: 0.8rem;
    background-color: #181818;
    padding: 15px 10px;
    border-radius: 13px;
    min-width: 140px;
    max-width: 210px;
    margin: 2px 15px;
    position: relative;
}

.cards img {
    width: calc(16vw - 20px);
    min-width: 120px;
    max-width: 190px;
}

.cards h3 {
    color: white;
    font-family: "Roboto";
    margin: 5px;
}

.cards p {
    color: white;
}

.playbar {
    position: absolute;
    background: rgba(7, 0, 0, 0.618);
    backdrop-filter: invert(1);
    width: 72vw;
    left: 1vw;
    bottom: 13px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 90px;
}

.song-navigate {
    gap: 4vw;
    filter: invert(1);
    margin-bottom: 10px;
}

.song-navigate img:hover {
    cursor: pointer;
}

.seekbar {
    height: 5px;
    width: 90%;
    background-color: white;
    border-radius: 100px;
    margin: auto;
    position: absolute;
    bottom: 3px;
    margin-bottom: 3px;
}

.circle {
    background-color: rgb(207, 200, 200);
    width: 13px;
    height: 13px;
    border-radius: 100%;
    position: relative;
    bottom: 4px;
    left: 0%;
}